html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: pink;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

img {
  display: block; }

a {
  color: #000;
  text-decoration: none; }

.row {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: inherit; }

header {
  height: 60px;
  background: #17408b; }
  header .flexy {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .flexy .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-weight: 700;
      width: 250px;
      clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
      background: red; }
      header .flexy .brand h1 {
        font-size: 28px;
        color: #fff; }
    header .flexy nav {
      display: none;
      height: 100%; }
      header .flexy nav ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        header .flexy nav ul li {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          width: 80px;
          height: 100%;
          clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%); }
        header .flexy nav ul li:hover {
          background: #1c2b74;
          transition: all 350ms ease-in-out; }
        header .flexy nav ul li a {
          color: #fff; }

.toggleBtn {
  margin-top: -8px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 5;
  cursor: pointer;
  width: 50px;
  height: 50px; }
  .toggleBtn span {
    display: block;
    width: 40px;
    height: 5px;
    background: red;
    margin: 6px 0px;
    transition: all 300ms ease-in-out; }
  .toggleBtn.active span {
    background: white; }
    .toggleBtn.active span:nth-child(2) {
      opacity: 0; }
    .toggleBtn.active span:nth-child(1) {
      transform-origin: left;
      transform: rotate(45deg) translateX(5px); }
    .toggleBtn.active span:nth-child(3) {
      transform-origin: left;
      transform: rotate(-45deg) translateY(5px); }

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh; }
  .menu:before, .menu:after {
    content: "";
    position: absolute;
    top: 0px;
    width: 0vw;
    height: 100vh;
    transition: all 400ms ease-in-out;
    background: #17408b; }
  .menu:before {
    left: 0px; }
  .menu:after {
    right: 0px; }
  .menu.active:before, .menu.active:after {
    width: 50vw; }
  .menu ul {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    transition: all 400ms ease-in-out 200ms;
    transition-duration: 400ms; }
    .menu ul li {
      list-style: none;
      font-size: 45px;
      margin: 20px 0px; }
    .menu ul li a {
      color: #fff; }
  .menu.active ul {
    top: 50%; }

@media screen and (min-width: 768px) {
  .menu {
    display: none; }

  .toggleBtn {
    display: none; }

  nav {
    display: block !important; } }

/*# sourceMappingURL=style.css.map */
